// === COLORS ===
$main-purple-fun: #5F47FF;
$main-purple-light: #A43AFF;
$main-gray-dark: #4D4D4D;
$main-orange: #FFB42C;
$main-red-poppy: #FF585C;

$secondary-aliceblue: #F0F8FF;

// === FONTS ===
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Lobster|Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500');

$font-family-header: 'Lato', serif;
$font-family-main: 'Raleway', sans-serif;
$font-family-fancy: 'Lobster Two', cursive;

$main-blue: #35a7ff;
$main-red: #e7134f;
$main-yellow: #e9b000;
$main-grey-dark: #4d4d4d;
$main-grey-light: #9E9E9E;

$main-font: 'Nunito', sans-serif;


