// === THEME ===

// === COLORS ===
$text-color: #38618c;
$theme-color: #e7134f;
$body-background-color: #fff;
$secondary-color: #35a7ff;
$ternary-color: #ffe74c;
//$link-color: $secondary-color;
// $menu-item-color: white;