// === COLORS ===
$main-purple-fun: #5F47FF;
$main-purple-light: #A43AFF;
$main-gray-dark: #4D4D4D;
$main-orange: #FFB42C;
$main-red-poppy: #FF585C;

$secondary-aliceblue: #F0F8FF;

// === FONTS ===
$font-family-header: 'Lato', Arial, serif;
$font-family-main: 'Roboto', Helvetica, sans-serif;
$font-family-fancy: 'Lobster';
