@import "partials/variables";
@import '~bootstrap/scss/bootstrap.scss';

body {
    margin: 0;
    padding: 0;
    color: $main-grey-dark;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}

html, body {
    height: 100%;
}

.container,
.container-fluid {
    margin: 0;
}

main {
    margin-top: 60px;
}

p {
    color: $text-color;
}

ul {
    list-style: none;
}

td {
    padding: 12px;
}

h2 {
    color: $secondary-color;
}

h1 {
    color: $theme-color;
}

.navbar-nav {
    width: 100%;
    justify-content: flex-end;
}

#logo {
    font-family: "Lobster";
    font-size: 3.5em;
    font-weight: 900;
    font-style: italic;
    color: $fun-purple !important;
}

#primary-navigation {
    background-color: #ffffff;
    border-bottom: 2px $main-grey-dark solid;
    height: 60px;
    margin-left: 10px;
    margin-right:10px;
}

.nav-item.active > .nav-link {
    color: $main-grey-dark !important;
}

#consult-banner {
    position: sticky;
    top: 0;
    margin: 0;
    text-align: center;
    background-color: $ternary-color;
    height: 40px;
    width: 100%;
}

#consult-copy {
    color: $text-color;
    font-weight: bold;
}

#lead {
    background-image: url('https://wallpaperscraft.com/image/art_supplies_paints_brushes_109981_4240x2832.jpg');
    background-size: cover;
    padding-bottom: 25%;

    h1 {
        padding-top: 25%;
        text-align: center;
        color: #fff;
    }

    h2 {
        color: #fff;
        text-align: center;
    }

    #lead-search {
        max-width: 200px;
    }
}

#how-it-works {
    background-color: #e7134f;
    p, h3 {
        color: #fff;
    }

    hr {
        color: #fff;
        box-shadow: 0 1px 2px #fff;
    }
}

#footer {
    padding: 20px 0 20px 0;
    background-color: $secondary-color;
    color: #fff;
    clear: both;

    .footer-link-header {
        font-size: 150%;
        font-weight: bold;
    }
}

#user-profile-section {
    background-color: $main-grey-light;
}

#search-results-list {
    width: 70%;
    padding: 20px;
}

.col-xs-12, .col-sm-4, .col-md-4 {
    padding: 0;
}

.spaceListItem {
    border: 2px solid $fun-purple;
    //border-radius: 20px;
    min-width: 300px;
    margin: 0 auto 10px auto;
}

#search-results-map {
    padding: 0;

    > img {
        height: 700px;
    }
}

img {
    width: 100%;
}
