@import "partials/variables";
@import "~bootstrap/scss/bootstrap.scss";

body {
    margin: 0;
    padding: 0;
    background-color: $white;
    color: $main-gray-dark;
    line-height: 2em;
    font-family: $font-family-main;
    font-weight: 300;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

html, body {
    height: 100%;
}

.container,
.container-fluid {
    margin: 0;
}

main {
    margin-top: 60px;
}

ul {
    list-style: none;
}

.col-xs-12, .col-sm-4, .col-md-4 {
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-header;
    font-weight: 900;
}

h1 {
    color: $main-purple-fun;
    font-size: 6em;
}

h2 {
    color: $main-red-poppy;
    font-size: 3em;
    font-weight: 600;
}

h3 {
    font-size: 2em;
    font-weight: 300;
}

.btn-primary {
    background-color: $main-red-poppy;
    border-color: $main-red-poppy;
}

#logo {
    color: $main-purple-fun !important;
    font-family: $font-family-fancy;
    font-size: 3.5em;
    font-style: italic;
    font-weight: 900;
}

#search-form {
    justify-content: center;
}

#header {
    background-color: $white;
    border-bottom: 2px $main-gray-dark solid;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;

    .navbar-nav {
        width: 100%;
        justify-content: flex-end;

        .nav-item.active > .nav-link {
            color: $main-gray-dark !important;
        }
    }
}

#home-container {
    #lead {
        background-color: $secondary-aliceblue;
        padding: 75px;

        h1, h4 {
            text-align: center;
        }

        h4 {
            padding-bottom: 20px;
        }
    }

    #how-it-works {
        padding: 75px;

        hr {
            color: $main-purple-light;
            box-shadow: 0 1px 2px $white;
        }
    }
}

#search-results-container {
    #search-results-list {
        width: 70%;
        padding: 20px;

        .spaceListItem {
            border: 2px solid $main-purple-fun;
            //border-radius: 20px;
            min-width: 300px;
            margin: 0 auto 10px auto;
        }
    }

    #search-results-map {
        padding: 0;

        > img {
            height: 700px;
        }
    }
}

#user-profile-section {
    background-color: $main-gray-dark;
}

#footer {
    padding: 20px 0 20px 0;
    background-color: $main-gray-dark;
    color: $white;
    clear: both;

    .footer-link-header {
        font-size: 150%;
        font-weight: bold;
    }
}
